.home-module-full-page{
    position: absolute;
    top: 10%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* padding-top: 50px; */
    /* Padding top for the top radius */
    padding: 20px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--secondary-background-color);
    color: var(--primary-font-color);
    animation: slide-up forwards 1s 1;
    display: flex;
    flex-direction: column;
    /* background-color: var(--primary-accent-bg-color);
     */
}
.module-row{
    width:100%;
    box-sizing: border-box;
    padding: 5px;
}
.module-title{
    font-size: 1.4rem;
    /* color: var(--primary-font-color); */
    color: var(--sub-font-color);
    margin-bottom: 5px;
    font-weight: bold;
}
.card{
    background-color: var(--primary-background-color);
    color: var(--primary-font-color);
    font-size: var(--sub-font-size);
    display: flex;
    flex-direction: row;
    /* padding: 10px; */
    box-shadow: 3px 3px 6px var(--shadow-color);
    height: 80px;
    border-radius: 8px;
}
.card-image-container{
    width: 20%;
    /* background-image: url(); */
     background-color: var(--success-green);
     border-top-left-radius: 8px;
     border-bottom-left-radius: 8px;
}
.card-details-container{
    width: 80%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.card-header{
    color: var(--primary-font-color) !important;
    font-size: var(--sub-font-size) !important;
}
.card-row{
    color: var(--sub-font-color);
    font-size: 1.3rem;
    padding: 1px 0;
}

.card-footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: auto;
    font-size: 0.8rem;
}
.card-btn{
    color: var(--primary-accent-bg-color);
}
.home-module-overview-group-container{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.home-group-header{
    /* font-weight: bold; */
    color: var(--sub-font-color);
}
.home-module-carousel-parent{
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    margin-bottom: 15px;
    width: 90vw;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overscroll-behavior: contains;
}
.carousel-card-container{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-background-color);
    box-shadow: 5px 5px 10px var(--shadow-color);
    padding: 10px;
    width: 80vw;
    height: 100px;
    border-radius: 8px;
    margin-right: 25px;
    flex-shrink: 0;
    scroll-snap-align:start center;
}
.carousel-card-header{
    /* font-size: 1.1rem; */
    color: var(--primary-font-color);
    margin-bottom: 5px;
}